<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 th:replace="~{layout/admin-layout :: adminLayout(~{this::head}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/css/commons/default.css">
</head>
	<th:block th:replace="${main}"/>
<body>
	<main>
		<div class="default">
			<p style="min-width:1280px; font-size: 40px; font-weight: bold;
					  text-align: center; position: relative; top: 400px;">
			관리자 페이지 입니다.</p>
		</div>
	</main>
</body>
</html>
