<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 th:replace="~{layout/admin-layout :: adminLayout(~{this::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/commons/reset.css">
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/admin/리스트페이지.css">
</head>
<body>
	<main>
	    <div class="page">[상품 등록 페이지]</div>
	    <div class="wrap1">
	    	<ul class="list">
	    		<li>상품명</li>
	    		<li>가격</li>
	    		<li>재고</li>
	    		<li>사진이미지들어갈곳</li>
	    		<li>내용</li>
	    		<li>등록버튼</li>
	    	</ul>
	    </div>
    </main>
</body>
</html>
