<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/admin/리스트페이지.css">
</head>
<body>
	<a href="/">HOME</a>
	<a href="/admin">BACK</a>
	<a href="/admin/items/reg">상품등록하기</a>
    <p>[상품 리스트 페이지]</p>
    <table>
    	<tr class="list">
    		<td>상품번호</td>
    		<td>list이미지</td>
    		<td>상품명</td>
    		<td>상품가격</td>
    		<td>주문가능수량</td>
    		<td>등록일</td>
    	</tr>
    </table>
</body>
</html>