<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/commons/default.css">
</head>
<header>
	<h1>메뉴영역</h1>
	<div class="wrap">
		<ul>
			<li>
				<a href="/">HOME</a>
			</li>
			<li>
				<dl>
					<dt><a href="#">상품</a></dt>
					<dd><a href="#">리스트</a></dd>
					<dd><a href="/goods/write">등록</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="#">FAQ</a></dt>
					<dd><a href="#">리스트</a></dd>
					<dd><a href="/customers/faq/write">쓰기</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="#">비주얼이미지</a></dt>
					<dd><a href="#">리스트</a></dd>
					<dd><a href="#">등록</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><a href="#">타임세일</a></dt>
					<dd><a href="#">리스트</a></dd>
					<dd><a href="#">등록</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</header>
</html>