<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 th:fragment="commLayout(head, main)">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/commons/header.css">
    <link rel="stylesheet" href="/css/commons/footer.css">
    <!-- 헤드가 들어가는 자리 -->
    <th:block th:replace="${head}"/>
</head>
<body>
	<header>
		<div id="wrap">
				<div id="header">
					<div class="content">
						<h1 class="logo">
							<a href="/">SUBWAY</a>
						</h1>
				<!-- ////////////////////////메뉴판..?//////////////////// -->
				<!-- ////////////////////////메뉴판..?//////////////////// -->
				<!-- ////////////////////////메뉴판..?//////////////////// -->			
						<div class="menu_wrap">
							<ul class="dep1">
								<li>
									<a href="#none">메뉴소개</a>
									<ul class="dep2" >
										<li><a href="#">샌드위치</a></li>
										<li><a href="#">랩 · 기타</a></li>
										<li><a href="#">샐러드</a></li>
										<li><a href="#">아침메뉴</a></li>
										<li><a href="#">스마일 썹</a></li>
										<li><a href="#">단체메뉴</a></li>
									</ul>
								</li>
								<!-- //////////////////////////////////////// -->
								<li>
									<a href="#none">이용방법</a>
									<ul class="dep2">
										<li><a href="#">써브웨이 이용방법</a></li>
										<li><a href="#">단체메뉴 이용방법</a></li>
										<li><a href="#">신선한 재료 소개</a></li>
										<li><a href="#">App 이용방법</a></li>
									</ul>
								</li>
								<!-- //////////////////////////////////////// -->							
								<li>
									<a href="#none">새소식</a>
									<ul class="dep2">
										<li><a href="#">이벤트 · 프로모션</a></li>
										<li><a href="#">뉴스 ·공지사항</a></li>
										<li><a href="#">광고영상</a></li>
									</ul>
								</li>
								<!-- //////////////////////////////////////// -->
								<li>
									<a href="#none">써브웨이</a>
									<ul class="dep2">
										<li><a href="#">써브웨이 역사</a></li>
										<li><a href="#">써브웨이 가맹점</a></li>
										<li><a href="#">샌드위치 아티스트 지원</a></li>
										<li><a href="#">매장찾기</a></li>
									</ul>
								</li>						
								<!-- //////////////////////////////////////// -->	
								<li>
									<a href="#none">가맹점</a>
									<ul class="dep2">
										<li><a href="#">써브웨이 프렌차이즈</a></li>
										<li><a href="#">가맹관련 FAQ</a></li>
										<li><a href="#">가맹신청 · 문의</a></li>
										<li><a href="#">지사안내</a></li>
										<li><a href="#">사업설명회</a></li>
									</ul>
								</li>					
								<!-- //////////////////////////////////////// -->
								<li>
									<a href="#none">온라인주문</a>
									<ul class="dep2">
										<li><a href="#">FAST-SUB</a></li>
										<li><a href="#">HOME-SUB</a></li>
										<li><a href="#">단체주문</a></li>
									</ul>
								</li>
								<!-- //////////////////////////////////////// -->		
							</ul>
						</div>
				<!-- ///////////////////////로그인/회원가입////////////////// -->	
				<!-- ///////////////////////로그인/회원가입////////////////// -->	
				<!-- ///////////////////////로그인/회원가입////////////////// -->
						<div class="util_menu">
							<ul>
								<li class="before_sign">
									<a href="/members/signin">로그인</a>
								</li>
								<li class="before_sign">
									<a href="/members/signup">회원가입</a>
								</li>
								<li>
									<img src="/images/common/icon_utill_global.png" alt="global_subway">
								</li>
							</ul>
						</div>
				<!-- //////////////////////////////////////////////////// -->	
				<!-- //////////////////////////////////////////////////// -->	
				<!-- //////////////////////////////////////////////////// -->	
					</div>
				</div>
			</div>		
	</header>
	<!-- 메인이 들어갈 자리 -->
	<th:block th:replace="${main}"/>
	<footer>
		<div id ="wrap">
		<div id="footer">
			<div class="content">
				<div class="util_menu">
					<ul>
						<li><a href="/">이용약관</a></li>
						<li><a href="/">개인정보처리방침</a></li>
						<li><a href="/">써브카드</a></li>
						<li><a href="/">점주관리자</a></li>
						<li><a href="/">Subway Listens</a></li>
					</ul>
				</div>
				<span class="addr">서울시 서초구 강남대로 535 프린스빌딩 15층</span>
				<span class="rep">대표 : INSOO CHO(인수조)</span>
				<span class="tel">전화: 02-797-5036</span>
				<span class="num">사업자등록번호 : 101-84-04143</span>
				<p class="copyright">SUBWAY® is a Registered Trademark of Subway IP LLC. © 2021 Subway IP LLC. All Rights Reserved.</p>
				<a class="instagram" href="https://www.instagram.com/subwaykorea" target="_blank">instagram</a>
				<a class="fackbook" href="https://www.facebook.com/Subwaykr" target="_blank">facebook</a>
				</div>
			</div>
		</div>		
	</footer>
</body>
</html>
