<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 th:replace="~{layout/comm-layout :: commLayout(~{this::head}, ~{::main})}">
 <!-- ~{fragment위치::이름} -->
 <!--  위에 this는 생략 가능 -->
<head>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main/main.css">
</head>
<main>
	<div class="wrap">
		<!-- 메인 이미지 -->
		<div class="main-wrap">
			<!-- 이미지 -->
			<div class="main-img center">
				<a href="#">main</a>
			</div>
			<!-- 매장찾기 가맹신청 -->
			<div class="market flex">
				<div class="find">
					<a><strong>매장찾기</strong></a>
				</div>
				<div class="fran">
					<a><strong>가맹신청ㆍ문의</strong></a>
				</div>
			</div>
		</div>
		<!-- 서브웨이 메뉴 -->
		<div class="menu-wrap">
			<div class="sand">
				<h2>Subway's Menu</h2>
				<!-- 상품 종류 목록 -->
				<div class="menu">
					<ul class="flex">
						<li>클래식</li>
						<li>프레쉬&라이트</li>
						<li>프리미엄</li>
						<li>아침메뉴</li>
					</ul>
				</div>
				<!-- 상품 목록 -->
				<div class="goods">
					<ul class="flex center">
						<li><img src="/images/main/sandwich_cl01_01.jpg">에그마요</li>
						<li><img src="/images/main/sandwich_cl02_01.jpg">이탈리안 비엠티</li>
						<li><img src="/images/main/sandwich_cl04_01.jpg">비엘티</li>
						<li><img src="/images/main/sandwich_cl06_01.jpg">햄</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 기타 이벤트 이미지 -->
		<div class="event-wrap ">
			<div class="section_subway">
				<div class="content_top flex">
					<div class="utilization">
						<p>
						써브웨이를
						<br>
						제대로 즐기는 방법!
						</p>
						<a class="btn" href="#"> </a>
					</div>
					<div class="history">
						<p>
						50년 역사를 가진
						<br>
						No.1 프랜차이즈의 성장기
						</p>
						<a href="#"><img src="/images/main/img_subway_history.png"> </a>
					</div>
				</div>
				<div class="content_bottom flex">
					<div class="content_bottom">
						<div class="whats_new">
							<div class="hd">
								<h2>What's New</h2>
								<p>
									써브웨이의 다양한 소식을
								<br>
									빠르게 전달해드립니다.
								</p>
							</div>
							<div class="board_list">
								<ul>
									<li><a href="#" >시스템 업그레이드를 위한 서버 점검 안내</a></li>
									<li><a href="#" >써브웨이와 함께하는 TVING 오리지널 '유미의 세포들2'</a></li>
									<li><a href="#" >써브웨이와 함께하는 SBS 금토드라마 '소방서 옆 경찰서'</a></li>
								</ul>
								<a class="more" href="/newsList">more</a>
							</div>
						</div>
							<div class="banner_sponsor">
								<a href="#">
									<img alt="써브웨이와 함께하는 TVING 오리지널 '유미의 세포들2'" src="/images/main/270X300_20221117044819196.jpg">
								</a>
							
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 회사 정보 이미지 -->
		<div class="info-wrap">
			<ul class="flex center">
				<li><a href="#">프랜차이즈</a><li>
				<li><a href="#">지사안내</a><li>
				<li><a href="#">광고영상</a><li>
				<li><a href="#">고객문의</a><li>
			</ul>
		</div>
	</div>	
</main>
</html>