<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 th:replace="~{layout/comm-layout :: commLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/sign/signup.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".domainInsert1").change(domainInsert);
			$(".domainInsert2").change(domainInsert);
			$("#passCheck").change(passwordCheck);
			$("#passCheck").keydown(registCheck(key));
		});
		function registCheck(key){
			if(key.keyCode==13) {
				alert("비밀번호가 일치하지 않습니다");
			}
		}
		function passwordCheck(){ /* 비밀번호 확인 */
			if($("#pass").val()!=null){
				if($("#pass").val() != $("#passCheck").val()){
					$(".passwordCheck").show();
					$("#passCheck").focus();
					$("#createbtn").attr('type', "button");
				}else{
					$(".passwordCheck").hide();
					$("#createbtn").attr('type', "submit");
				}
			}else{
				$("#createbtn").attr('type', "button");
			}
		}
		function domainInsert(){
			var domain1=$(".domainInsert1").val()
			var domain2=$(".domainInsert2").val()
			$("#domain1").val(domain1);
			$("#domain2").val(domain2);
		}
	</script>
</head>
<main>
	<div class="signupWrap page-tit">
		<div class="nameArea">
			<h1 class="name">회원가입</h1>
			<div class="stepImg">
				<!-- step img -->
				<ul class="flex center">
					<li class="step1">
						<span>step1</span>
					</li>
					<li class="step2"><span>step2</span></li>
					<li class="step3 col"><span>step3</span></li>
					<li class="step4"><span>step4</span></li>
				</ul>
			</div>
		</div>
		<h3><strong>Step1. </strong> 회원가입</h3>
		<div class="inputArea">
			<div class="inputForm">
				<h2>기본 정보 (필수 입력)</h2>
				<!-- 입력 -->
				<form action="/">
	    			<ul>
	    				<li>
	    					<span>아이디(이메일)</span>
	    					<input type="text" id="email1" name="email1" placeholder="이메일 또는 아이디">@
	    					<input type="text" id="domain1" name="domain1" placeholder="이메일 도메인 입력">
	    					<select class="domainInsert1">
	    						<option value="">직접입력</option>
	    						<option value="naver.com">naver.com</option>
	    						<option value="google.com">google.com</option>
	    						<option value="daum.net">daum.net</option>
	    						<option value="nate.com">nate.com</option>
	    					</select>
	    					<button>중복확인</button>
	    				</li>
	    				<li>
	    					<span>아이디(이메일)</span>
	    					<input type="text" id="email2" name="email2" placeholder="이메일 또는 아이디">@
	    					<input type="text" id="domain2" name="domain2" placeholder="이메일 도메인 입력">
	    					<select class="domainInsert2">
	    						<option value="">직접입력</option>
	    						<option value="naver.com">naver.com</option>
	    						<option value="google.com">google.com</option>
	    						<option value="daum.net">daum.net</option>
	    						<option value="nate.com">nate.com</option>
	    					</select>
	    				</li>
	    				<li>
	    					<span>비밀번호 입력</span>
	    					<input type="password" id="pass" name="pass" placeholder="비밀번호">
	    					<div><span class="passwordCheck">비밀번호가 다릅니다 다시 입력해주세요.</span></div>
	    				</li>
	    				<li>
	    					<span>비밀번호 확인</span>
	    					<input type="password" id="passCheck" name="passCheck" placeholder="비밀번호 확인">
	    				</li>
	    				<hr>
	    				<li><button type="submit" id="createbtn">회원가입</button></li>
	    			</ul>
	    		</form>
    		</div>
		</div>
	</div>
</main>
</html>