<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 th:replace="~{layout/comm-layout :: commLayout(~{this::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/sign/signin.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script type="text/javascript">
		$('#icon').on('click', function(){
		  $('#form_checkbox').prop('checked', true);
		  
		});
	</script>
</head>
<body>
	<main>
		<div id="content">
			<div class="signin_wrapper">
				<div class="signin_tit">
					<h2>LOGIN</h2>
					<p>써브웨이 회원으로 로그인하시면 제공하는<br>다양한 서비스를 이용할 수 있습니다.</p>
				</div>
				<form action="/members/signin" method="post">
					<div class="signin_input">
						<div class="form_box">
							<div class="write_info_wrap">
								<div class="input_set">
									<dl>
										<dt>이메일 아이디</dt>
										<dd>
											<span class="form_text">
												<input class="required-value" id="username" name="username" placeholder="이메일 아이디 입력" type="text">
											</span>
										</dd>
										<dt>비밀번호</dt>
										<dd>
											<span class="form_text">
												<input class="required-value" id="password" name="password" placeholder="비밀번호 입력" type="password">
											</span>
										</dd>
									</dl>
								</div>
							</div>
							<label class="form_checkbox">
								<input type="checkbox" id="cbox" name="cbox">
								<span class="icon"></span>
								이메일 아이디 저장
							</label>
						</div>
					</div>
					<div class="signin_btn">
						<button type="submit">로그인</button>
					</div>
				</form>
				<div class="signin_link">
					<ul> 
						<li>
						<a href="#" id="findId">아이디 찾기</a>
						</li>
						<li>
						<a href="#" id="findPw">비밀번호 찾기</a>
						</li>
						<li>
						<a href="/signup">회원가입</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
<body>
</html>