@charset "UTF-8";
body { overflow-x:hidden; }

.wrap>.main-wrap>.mainbanner li{
	width: 100%;
	height: 440px;
}

.wrap>.main-wrap>.mainbanner li .main-img1{
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 5;
}
.wrap>.main-wrap>.mainbanner li .main-img2{
	width: 100%;
	left:100%;
	position: absolute;
	text-align: center;
}
.wrap>.main-wrap>.mainbanner li .main-img3{
	width: 100%;
	left:200%;
	position: absolute;
	text-align: center;
}
.wrap>.main-wrap>.mainbanner li .main-img4{
	width: 100%;
	left:300%;
	position: absolute;
	text-align: center;
}

.wrap>.main-wrap>div{
	float: right;
    margin-right: 300px;
    position: absolute;
    top: 575px;
    left: 50%;
    z-index: 5;
}

.wrap>.main-wrap>div .navcon{
	top: -40px;
    float: right;
    margin-right: -410px;
    position: absolute;
    right: -180px;
}
.wrap>.main-wrap>div .navcon li{
	display: inline-block;
    margin: 0 5px;
}
.wrap>.main-wrap>div .navcon li>a{
	display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 30px;
    transition-duration: 0.3s;
}

.wrap>.main-wrap>div .navcon .nav>a:hover{
	background-color: #ffc300;
    width: 30px;
}

.wrap>.main-wrap>.market{
	float: right;
	margin-right: 300px;
	position: absolute;
	top: 575px;
	left: 50%;
	z-index: 5;
}

.wrap>.main-wrap>.market>.find a{
	background-color: #ffce32;
    border-radius: 30px 0 0 0;
    float: right;
    width:300px;
    height:80px;
    transition-duration: 0.2s;
    text-align: center;
    line-height: 75px;
    font-size: 22px;
    cursor: pointer;
}
.wrap>.main-wrap>.market>.find a:before{
	background: url('/images/common/icon_map.png') 0 0 no-repeat;
	height: 37px;
	width: 30px;
	content: '';
    display: inline-block;
    vertical-align: middle;
    padding-right: 13px;
    position: relative;
    top: -2px;
}

.wrap>.main-wrap>.market>.fran a{
    background-color: #009223;
    border-radius: 0 0 30px 0;
    width:300px;
    height:80px;
    float: left;
    text-align: center;
    line-height: 75px;
    font-size: 22px;
    cursor: pointer;
}

.wrap>.main-wrap>.market>.fran a:before{
	background: url('/images/common/icon_franchise.png') 0 0 no-repeat;
	height: 37px;
	width: 30px;
	content: '';
    display: inline-block;
    vertical-align: middle;
    padding-right: 13px;
    position: relative;
    top: -2px;
}

.wrap >.menu-wrap>.sand h2{
	color: #292929;
    font-size: 40px;
    font-weight: bold;
    min-height: 60px;
    background-image : url('/images/common/bul_tit.png');
    padding: 14px 0 0 27px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 15%;
}
.wrap >.menu-wrap>.sand>.menu ul{
	position : relative;
	margin-left: 60%;
	top: -25px;
}
.wrap >.menu-wrap>.sand>.menu ul li{
	float: left;
    position: relative;
    margin-left: 23px;
    padding: 0 0 0 25px;
    border-left: 1px solid #666666;
}
.wrap >.menu-wrap>.sand>.menu ul li:first-child {
	border: none;	
}
.wrap >.menu-wrap>.sand>.goods >.goodsbtn{
	background-color: white;
	position: absolute;
	text-align:center;
	height: 463px;
	width: 100%;
}
.wrap >.menu-wrap>.sand>.goods >.goodsbtn>.prevbtn{
	position:absolute;
	z-index:5;
	float : left;
	left:10%;
	top: 30%;
	width: 50px;
	height: 50px;
	background-image: url('/images/main/icon_event_slider_arr.png');
}
.wrap >.menu-wrap>.sand>.goods >.goodsbtn>.prevbtn:hover{
	background-position-y: -50px;	
}
.wrap >.menu-wrap>.sand>.goods >.goodsbtn>.nextbtn{
	position:absolute;
	z-index:5;
	float : right;
	right:10%;
	top: 30%;
	font-size: 40px;
	width: 50px;
	height: 50px;
	background-image: url('/images/main/icon_event_slider_arr.png');
	background-position-x: 50px;	
}
.wrap >.menu-wrap>.sand>.goods >.goodsbtn>.nextbtn:hover{
	background-position-y: -50px;	
}
.wrap >.menu-wrap>.sand>.goods ul{
	margin-bottom: 25%;
}
.wrap >.menu-wrap>.sand>.goods ul li {
	float: left;
    position: absolute;
    margin-left: 23px;
    margin-top:50px;
    margin-bottom:150px;
    padding: 0 25px 0 25px;
}
.g0{left:15%;}
.g1{left:32%;}
.g2{left:49%;}
.g3{left:66%;}
.g4{left:115%;}

.wrap >.menu-wrap>.sand>.goods ul li img{
	width: 260px;
	height: 182px;
}

.wrap>.event-wrap{
	background-color: gray;
}

.wrap>.event-wrap>.banner ul {
	width: 500px;
	height: 300px;
	background-color: white;
	margin-right: 25px;
	border-radius: 30px 0 30px 0;
}

.wrap>.menu-wrap>.sand>.goods>ul li a >.goodsimg{
	background-repeat: no-repeat;
	background-size: contain;
	width: 260px;
	height: 182px;
}

.wrap>.menu-wrap>.sand>.goods>ul li a strong{
	text-align:center;
	width:260px;
	font-size: 18px;
    color: #292929;
    margin: 3px 0 10px;
    display: block;
}
.wrap>.menu-wrap>.sand>.goods>ul li a p{
	font-size: 13px;
    color: #999999;
    line-height: 21px;
    opacity: 1;
    width: 260px;
    margin: 0 auto;
    letter-spacing: -0.04em;
    text-align: center;
}
